.main-card {
    width: 320px;
    height: 370px;
    margin-left: 30px;
    margin-right: 20px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(224, 223, 223);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 1px 1px 1px 1px rgb(224, 223, 223);;  /* Firefox 3.5 - 3.6 */
    box-shadow: 1px 1px 1px 1px rgb(224, 223, 223);
    .card-subtitle {
        font-size: 13px;
    }
}